:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(236, 227, 227, 0.43);
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: #3B3B3B;
}

.input img {
  position: absolute;
  top: 7px;
  right: 17px;
}

.wrapper-input{
  grid-area: A;
  height: 45px;
  margin-bottom: 0px;
}

.favoriteCities{
  grid-area: C;
  border-left: 1px solid white;
  height: 350px;
  overflow: auto;
}


input {
  outline: none;
  border-style: none;
  width: 90%;
  padding: 11px 0px 0px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.infoBlock{
  grid-area:B;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecastTab{
  height: 315px;
  overflow-y: auto;
}


.infoBlock div:nth-child(2) ul{
  padding: 0;
  margin: 0;
  List-style: none;
  height: 40px;
  width: 100%;
  display:flex;
  justify-content: space-around;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

li {
  width:33.33%;
  border: 1px solid white;
  cursor: pointer;
}

li.active{
  background-color: rgba(63, 29, 29, 0.43);
}

form{
  width: 100%;
  height: 45px;
}

.temperature-tab1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  padding: 20px 0px 0px 23px;
  text-align: left;
  width: 40px;
}

.icon-weather {
  position: absolute;
  top: 120px;
  left: 100px;
}

.city-tab1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  top: 265px;
  left: 12px;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.city-tab1>div:first-child{
  text-align: left;
}

.city-tab1>div:nth-child(2){
  text-align: right;
  margin-right: 25px;
}

.NowTab{
  position: relative;
}

.tab-item {
  display: none;
}

.tab-item:after {
  content: "";
  height: 22px;
  width: 33.333%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 11px 0px;
  z-index: 200;
}

.city-tab2,
.city-tab3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 0px 0px 42px 5px;
}
.weather-info {
  padding-left: 15px;
}

.weather-info div {
  margin-bottom: 15px;
  text-align: left;
}

.day-block {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
}


.day-block div {
  font-size: 18px;
}

.day-block div p {
  font-size: 18px;
  margin-bottom: 0px;
  padding: 0px;
}

.shape img:hover{
  scale: 1.15;
  transition-timing-function: ease-in;
}

.favoriteCity{
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin:10px;
  padding:5px;
  border-radius: 16px;
  position: relative;

}

.favoriteCity:hover .closeIcon{
  display: block;
  width: 40px;
  position: absolute;
  right: 10px;
  top: -5px;
  cursor: pointer;
}

.closeIcon{
  display: none;
}

.textCity{
  cursor: pointer;
}


